@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lato:wght@900&display=swap');

.back{
    background-image: url("../../assets/img/back.png");
    width: 100vw;
    height: 100vh;
}

h4{
    margin:0;
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    color: #494949;
}

