@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lato:wght@400;900&display=swap');

.step{
    color: #494949;
    width: 700px;
    height: 150px;
    padding: 20px;
}
.activeStepNum{
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    margin-top: 0;
}

.activeStepContent{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

